###  Python Tuples

tuples are used to store multiple items in a single variable

tuples is one of 4 build-in data types in pyrhon used to store collection of data, the others 3 are List, Set and Dictionary, all different qualities and usage.

A tuple a collection which is oredered and unchangeable.

Tuples are written with round brackets()

In [3]:
T = ()
print(T)

()

In [4]:
T = (10,3.14,"Data Science",98,65,"Python",88)
print(T)

(10, 3.14, 'Data Science', 98, 65, 'Python', 88)

*  Tuple items are ordered, unchangeable, and allow duplicate values.  * 
Tuple items are indexed, the first item has index [0], the second item has inde[1] et.      .* 
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been creat.  
  d* .
Since tuple are indexed, tuples can have items with the same value:

In [5]:
T[0]

10

#### Determine the length and type of a list

In [6]:
print(len(T))

7

In [7]:
print(type(T))

<class 'tuple'>

#### Access tuple items

* Tuple items are indexed and you can access them by referring to the index number:
  * 
Negative indexing means start from the end
  .* 
1 refers to the last item, -2 refers to the second last item et  c
* .
You can specify a range of indexes by specifying where to start and where to end the range.

In [8]:
T = (10,3.14,"Machine Learning",98.34,100,"Python",77)
print(T)
print(T[:])
print(T[::])
print(T[0])
print(T[2:5])
print(T[2:])
print(T[:5])
print(T[-1])
print(T[-3:])

(10, 3.14, 'Machine Learning', 98.34, 100, 'Python', 77)
(10, 3.14, 'Machine Learning', 98.34, 100, 'Python', 77)
(10, 3.14, 'Machine Learning', 98.34, 100, 'Python', 77)
10
('Machine Learning', 98.34, 100)
('Machine Learning', 98.34, 100, 'Python', 77)
(10, 3.14, 'Machine Learning', 98.34, 100)
77
(100, 'Python', 77)

#### Change Tuple Values

* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [9]:
print(T)

(10, 3.14, 'Machine Learning', 98.34, 100, 'Python', 77)

In [10]:
L = list(T)
L[1] = "Python masters course "

T = tuple(L)
print(T)

(10, 'Python masters course ', 'Machine Learning', 98.34, 100, 'Python', 77)

#### Unpacking a tuple:

In [11]:
a,b,c = ('python',10,45.66)
print(a)
print(b)
print(c)

python
10
45.66

#### Loop Through a Tuple

* You can loop through the tuple items by using a for loop

In [12]:
T = (10,3.14,"Machine Learning",98.34,100,"Python",77)
for item in T:
    print(item)

10
3.14
Machine Learning
98.34
100
Python
77

#### Loop Through the Index Numbers

In [13]:
for i in range(len(T)):
    print(L[i])

10
Python masters course
Machine Learning
98.34
100
Python
77

#### Print list items using while loop

In [14]:
T = (10,3.14,"Machine Learning",98.34,100,"Python",77)
i=0
while i < len(T):
    print(T[i])
    i = i + 1

10
3.14
Machine Learning
98.34
100
Python
77

#### Join Two Tuples

In [15]:
T1 = (1,2,3)
T2 = (4,5,6)
T3 = T1 + T2
print(T3)

(1, 2, 3, 4, 5, 6)

#### Multiply Tuples

In [16]:
T1 = (3,6,9)
print(T1 * 3)

(3, 6, 9, 3, 6, 9, 3, 6, 9)

#### Count item in Tuple

In [17]:
T1 = (1,45,35,78,35,67,45,25,78,45)
T1.count(45)

3

#### Find index of a item in tuple

In [18]:
T1.index(35)

2

In [19]:
T1.index(25)

7